# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# -------------------------
# Ambientes virtuais
# -------------------------
venv/
env/
.venv/

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Secrets
# -------------------------
.env
.env.*

# -------------------------
# Databases locais
# -------------------------
*.sqlite3

# -------------------------
# Arquivos de sistema
# -------------------------
Thumbs.db
.DS_Store

db_settings.json

# -------------------------
# Arquivos/scripts auxiliares
# -------------------------
src/benchmark.py
src/run_benchmark.ps1
benchmark_stages.csv
repositorio.json
repo_json.py
Dockerfile